# Backend Cloudinary Configuration
# Add these variables to your backend .env / .env.local file.

CLOUDINARY_CLOUD_NAME=dfniiigm8
CLOUDINARY_API_KEY=588811895791197
CLOUDINARY_API_SECRET=_ceDG3Gi0SUfa38O_kR8MNqrDjA
